One Step Checkout magento extension - 39 $
Download : 
http://www.mage-shop.com/one-step-checkout-extension.html
One Step Checkout magento extension :

You are having a magento shopping cart site, you don’t want customer to lose time for checkout with a lot of of steps.
You want your site to have easy and simple checkout page for customers, it’s exactly our One Step Checkout Extension
